{:nav-title "Modeling data"
 :content
 [:div
  [:h1 "Modeling Data"]
  [:p "So far we have queried data that was already in the database. "
   "Now let's see how it got there. To understand Datomic's data model, "
   "we will compare it with a relational database, using a small slice of our Pokemon data."]
  [:p "The normalised way in SQL needs two tables. A Pokemon has one or two types, "
   "so the types can't live in a single column of the " [:code "pokemon"] " table. "
   "They go in a second table that points back to it."]
  [:div {:style {:display "flex" :flex-wrap "wrap" :gap "1em"}}

   [:div [:p "Pokemon Table"]

    [:table
     [:tr [:th "id"] [:th "number"] [:th "name"] [:th "hp"]]
     [:tr [:td "1"] [:td "001"] [:td "Bulbasaur"] [:td "45"]]
     [:tr [:td "2"] [:td "004"] [:td "Charmander"] [:td "39"]]
     [:tr [:td "3"] [:td "025"] [:td "Pikachu"] [:td "35"]]
     [:tr [:td "4"] [:td "092"] [:td "Gastly"] [:td "30"]]
     [:tr [:td "5"] [:td "093"] [:td "Haunter"] [:td "45"]]
     [:tr [:td "6"] [:td "094"] [:td "Gengar"] [:td "60"]]]]

   [:div [:p "Pokemon Types Table"]
    [:table
     [:tr [:th "pokemon_id"] [:th "type"]]
     [:tr [:td "1"] [:td "Grass"]]
     [:tr [:td "1"] [:td "Poison"]]
     [:tr [:td "2"] [:td "Fire"]]
     [:tr [:td "3"] [:td "Electric"]]
     [:tr [:td "4"] [:td "Ghost"]]
     [:tr [:td "4"] [:td "Poison"]]
     [:tr [:td "5"] [:td "Ghost"]]
     [:tr [:td "5"] [:td "Poison"]]
     [:tr [:td "6"] [:td "Ghost"]]
     [:tr [:td "6"] [:td "Poison"]]]]]

  [:p "To get the names of the Ghost type Pokemon, we can run a query like:"]

  [:ui/code "sql" "SELECT p.name FROM pokemon p
 JOIN pokemon_types t ON p.id = t.pokemon_id
 WHERE t.type = 'Ghost'

 -- Gastly, Haunter, Gengar"]

  [:p "Let's rewrite this database using Datomic."]

  [:p "We won't need a second table for this. Datomic has a "
   [:a {:href "https://docs.datomic.com/whatis/data-model.html#universal"} "Universal Schema"]
   ". Think of it as one big table with five columns that stores " [:strong "everything"] " in our Database. "
   "For now, let's focus on three of the five columns, we'll meet the other two in "
   [:a {:href "/time-travel"} "Time travel"] "."]

  [:ol
   [:li [:strong "Entity"] " identifies the \"thing\" we are referring to"]
   [:li [:strong "Attribute"] " associates an Attribute with the Entity"]
   [:li [:strong "Value"] " defines the Value of the Attribute associated with the Entity"]]

  [:p "We can model the information from the SQL database using these three columns, "
   "with one Attribute for each column we had before, plus one for the type."]

  [:p "With this structure, the data for Gastly and Pikachu could look like this:"]

  [:table
   [:tr [:th "Entity"] [:th "Attribute"] [:th "Value"]]
   [:tr [:td "1000"] [:td ":pokemon/number"] [:td "092"]]
   [:tr [:td "1000"] [:td ":pokemon/name"] [:td "Gastly"]]
   [:tr [:td "1000"] [:td ":stat/hp"] [:td "30"]]
   [:tr [:td "1000"] [:td ":pokemon/type"] [:td "Ghost"]]
   [:tr [:td "1000"] [:td ":pokemon/type"] [:td "Poison"]]
   [:tr [:td ""] [:td ",,,"] [:td ""]]
   [:tr [:td "1002"] [:td ":pokemon/number"] [:td "025"]]
   [:tr [:td "1002"] [:td ":pokemon/name"] [:td "Pikachu"]]
   [:tr [:td "1002"] [:td ":stat/hp"] [:td "35"]]
   [:tr [:td "1002"] [:td ":pokemon/type"] [:td "Electric"]]]

  [:p "Notice that Gastly has two rows for " [:code ":pokemon/type"] ": the same Entity and the same Attribute, "
   "with a different Value. There is no second table to join. The ids above are just for illustration, "
   "Datomic assigns them for you."]

  [:p "Let's implement it."]

  [:p "To install Attributes we need to define at least three things for each of them:"]

  [:ul
   [:li [:code ":db/ident"] " an identifier, like " [:code ":pokemon/name"]]
   [:li [:code ":db/valueType"] " a type for the values of this attribute, like " [:code ":db.type/string"] " or "
    [:a {:href "https://docs.datomic.com/schema/schema-reference.html#db-valuetype"} "others"]]
   [:li [:code ":db/cardinality"] " whether this attribute accepts "
    [:a {:href "https://docs.datomic.com/schema/schema-reference.html#db-cardinality"} "one"]
    " or "
    [:a {:href "https://docs.datomic.com/schema/schema-reference.html#db-cardinality"} "many"]
    " values"]]

  [:p "A Pokemon has one name but can have several types, so " [:code ":pokemon/type"] " is "
   [:code ":db.cardinality/many"] ". That is what replaces the second table. "
   "Two of our attributes could be defined and installed like this:"]

  [:ui/code "clojure"
   "(d/transact conn {:tx-data [{:db/ident :pokemon/name
                             :db/valueType :db.type/string
                             :db/cardinality :db.cardinality/one}

                            {:db/ident :pokemon/type
                             :db/valueType :db.type/string
                             :db/cardinality :db.cardinality/many}]})"]

  [:p "The other attributes (" [:code ":pokemon/number"] ", " [:code ":stat/hp"] " and the rest) "
   "are installed the same way. The " [:a {:href "/cardinality-many"} "Cardinality many"]
   " chapter shows what this means for queries."]

  [:p "Now that our attributes are installed, let's add our data. "
   "We don't choose entity ids, we just say what we know about each Pokemon:"]

  [:ui/code "clojure"
   "(d/transact conn {:tx-data [{:pokemon/number \"001\"
                             :pokemon/name \"Bulbasaur\"
                             :pokemon/type [\"Grass\" \"Poison\"]
                             :stat/hp 45}
                            ,,,]})"]

  [:p "Finally, we can query our Datomic database to find the names of the Ghost type Pokemon. "
   "Click \"Run\" below and compare the result with the SQL query."]

  [:ui/runnable "pokemon"
   [:find ?name
    :where [?e :pokemon/type "Ghost"]
    [?e :pokemon/name ?name]]]

  [:p "As in " [:a {:href "/anatomy-of-a-query"} "Anatomy of a query"] ", the shared variable " [:code "?e"]
   " ties the two patterns to the same Pokemon. It does the job of the " [:code "JOIN ... ON"]
   " in the SQL above, without a second table."]

  [:ui/try-tip
   [:p "Edit the query above to also return each Pokemon's number. "
    "Copy the last pattern, change its attribute to " [:code ":pokemon/number"] " and its variable to "
    [:code "?number"] ", and add " [:code "?number"] " to " [:code ":find"] "."]]

  [:h2 "Bonus: no NULLs"]
  [:p "In SQL, a column that only some rows use is filled with NULL for the rest. "
   "In Datomic there is nothing to fill: if we don't know a fact, it isn't stored. "
   "Only a few Pokemon have a " [:code ":pokemon/category"] ", so only they show up here:"]
  [:ui/runnable "pokemon"
   [:find ?name ?category
    :where
    [?e :pokemon/name ?name]
    [?e :pokemon/category ?category]]]]}
