:root {
    color-scheme: light dark;
}

html {
    box-sizing: border-box;
}

html * {
    box-sizing: inherit;
}

body {
    letter-spacing: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "liga" on;
    text-rendering: optimizelegibility;
    max-width: 1000px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0 5px;
    font:
        400 1em / 1.4 Inter,
        sans-serif;
}

@media (prefers-color-scheme: dark) {
    .logo {
        filter: invert(1);
    }
}

nav {
    flex: 1;
    margin-top: 5em;
}

nav ul {
    padding-left: 0;
}

nav li {
    list-style-type: none;
}

main {
    flex: 5;
}

main table {
    border-collapse: collapse;
    margin-right: 1em;
}

main table td, main table th {
    border-bottom: 1px solid;
    padding: 4px;
}

footer {
    padding-bottom: 1em;
    font-size: small;
    text-align: right;
}

code-highlighter {
    font-size: 0.9em;
    display: block;
}

.input,
.output {
    border: none;
    width: 100%;
    padding: 5px;
    margin-top: 3px;
    text-wrap: wrap;
}

@media (max-width: 800px) {
  body {
    display: block;
  }

  nav {
    display: none;
  }
}
